<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>air3</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  
    <!-- Servlet 등록 -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>com.air3.main.DispatcherServlet</servlet-class>
  	<!-- 서버를 돌리면서 Servlet을 로딩해주는 순서번호
  		 -> Servlet안에 init()가 호출돼서 실행된다. -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- Servlet과 url 연결 등록 -->
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<!-- 위치 기반 : /board/*, 확장자 기반 : *.do
  		 혼합해서 사용하면 오류가 난다. -->
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>authority</filter-name>
  	<filter-class>com.air3.common.filter.AuthorityFilter</filter-class>
  </filter>

	<filter-mapping>
		<filter-name>authority</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
  
  
  <filter>
	 <description>사이트에 레이아웃을 잡는 필터 처리</description>
	 <filter-name>sitemesh</filter-name>
	 <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
	 <filter-name>sitemesh</filter-name>
	 <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
   <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/views/error/total404.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/views/error/total500.jsp</location>
  </error-page>
  
  
  
  
</web-app>